---
layout: default
js: js/todo.js
---
<section class="svg-dots">
<div class="container">

  <div class="row">
  <div class="col-sm-8 col-md-8 ">
    <div class="cartoon-box">This is my web page and here is my blog.</div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="blob-box">
      <h2 class="cartoon-text">Blog box</h2>
      <ul class="post-list">
        {% for post in paginator.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          </li>
        {% endfor %}
      </ul>
      <div class="pagination cartoon-text">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"> < </a>
        {% else %}
          <span class="previous"> < </span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next"> > </a>
        {% else %}
          <span class="next"> > </span>
        {% endif %}
      </div>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>

</div>
</section>

<section class="todo-back">
<div class="container">

  <div class="row">
  <div class="col-sm-12 col-md-12 ">
    <h1 class="cartoon-text">Project's list</h1>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-12 col-md-12 ">

  <div class="todo">
    <div class="to-colum">
      <h4>Back</h4>
      {% include todo-item.html ready='50' %}
    </div>
    <div class="to-colum">
      <h4>In progres</h4>
      {% include todo-item.html title='Todo list' content='Public todo list my projects.' ready='30' %}
      {% include todo-item.html ready='50' %}
      {% include todo-item.html ready='50' %}
    </div>
    <div class="to-colum">
      <h4>Wait or testing</h4>
      {% include todo-item.html ready='80' %}   
      {% include todo-item.html ready='20' %}
    </div>
    <div class="to-colum">
      <h4>Done</h4>
      {% include todo-item.html ready='95' %}
    </div>
  </div>

<!--
  <ul class="cart-list">
    {% for c in site.carts_collection %}
      <li>
        <span class="cart-meta">{{ c.date | date: "%b %-d, %Y" }}</span>
        <h2>{{ c.title }}</h2>
        <p>{{ c.content }}</p>
      </li>
    {% endfor %}
  </ul>
-->
  </div>
  </div>

</div>
</section>
