---
layout: default
---

<div class="row">
<div class="col-md-12">

  <ul class="cart-list">
    {% for c in site.carts_collection %}
      <li>
        <span class="cart-meta">{{ c.date | date: "%b %-d, %Y" }}</span>
        <h2>{{ c.title }}</h2>
        <p>{{ c.content }}</p>
      </li>
    {% endfor %}
  </ul>

</div>
</div>

<div class="row">
<div class="col-md-12">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
</div>
