html,body{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: #444;
  margin: 0;
}
h3.list_title{
  text-align: center;
  font-weight: lighter;
  display: block;
  margin:0;
  padding: 25px 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  color: white;
  background: #56aaf0; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #56aaf0 0%, #616bb2 100%);
  background: -webkit-linear-gradient(-45deg, #56aaf0 0%,#616bb2 100%);
  background: linear-gradient(135deg, #56aaf0 0%,#616bb2 100%);
  box-shadow: 5px;
  z-index: 2;
}
ul.links{
  margin: 15px 5px;
  padding: 0;
  list-style: none;
  z-index: 1;
}
ul.links li:first-child{
  border-top: solid 1px #dce1ea;
}
ul.links li{
  margin-top: -1px;
  margin-bottom: 1px;
  border-radius: 5px;
  display: block;
  color: #666;
  font-size: .8rem;
  border: solid 1px white;
  border-bottom: solid 1px #dce1ea;
}

ul.links li:hover{
  background-color: #ecf0f2;
  border: solid 1px #dce1ea;
}
ul.links li a{
  font-size: 1rem;
  color: #444;
  font-size: bold;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 5px;
  text-decoration: none;
}
