html{height: 100%;}
body{
    display: flex;
    flex-direction: column;
    height: 100%;margin: 0;
    > nav, > footer{
      flex: 0 0 auto;
      background-color: #444;
      * {
        color: white!important;
      }
    }
    > article{
       flex: 1 0 auto;
    }
}

/* ---- Site header ---- */
/* ---- Site footer ---- */
/* ---- Page content ---- */
.page-content {
    padding: $spacing-unit 0;
}
.page-heading {
    font-size: 20px;
}
ul.cart-list{
  margin-left: 0;
  list-style: none;
  display: flex;

  > li {
    margin: 1% 1%;
    border: solid 1px #ccc;
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: $box-shadow;-moz-box-shadow: $box-shadow;box-shadow: $box-shadow;
  }
  .cart-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
}
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
