html{height: 100%;}
body{
    display: flex;
    flex-direction: column;
    height: 100%;margin: 0;
    > nav, > footer{
      flex: 0 0 auto;
      background-color: #444;
      * {
        color: white!important;
      }
    }
    > article{
       flex: 1 0 auto;
    }
}
.container{
  padding-top: $spacing-container;
  padding-bottom: $spacing-container;
}

.navbar{
  background-color:  transparent;
  margin-bottom: 0!important;
}
.yellow-area{
  background-color: $color-one;
}
.svg-dots {
  /*background-image: url("/assets/dots.svg");*/
  background-color: $color-one;
  background-repeat: repeat;
  image-orientation: 30deg flip;
}

.cartoon-text{
  font-family: $effet-font-family;
}

.blob-box{
  overflow: auto;
  background-color: white;
  width: 250px;
  -webkit-box-shadow: $box-shadow;-moz-box-shadow: $box-shadow;box-shadow: $box-shadow;
  > h2{
    background-color: white;
  }
  > ul.post-list{
    list-style: none;
    margin: 0;
    li{
      padding: 0px;
    }
  }
  > *{
    margin: 15px!important;
  }
  @include media-query($sm) {
      width: auto;
  }
}
/* ---- Site header ---- */
/* ---- Site footer ---- */
/* ---- Page content ---- */
.page-content {
    padding: $spacing-unit 0;
}
.page-heading {
    font-size: 20px;
}
