@import 'appframe.css';
article{
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Sosial media cards */

.sos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.sos > *{
  text-align: center;
}
.sosimg{
  position: relative;
  height: 64px;width: 64px;  
  vertical-align: middle;
}
.sosimg img{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: auto;
}
.soscontent {
  margin-top: 5px;
  line-height: 1.4em;
}
.sostitle{
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}
.soscontent p{
  font-size: .8em;
  margin: 0;
}
.soscontent a{
  margin-top: 5px;
  padding:  5px 15px 3px 15px;
  border: solid 1px #ccc;
  color: #999;
  display: inline-block;
  border-radius: 19px 19px 19px 19px;
}
.soscontent a:hover{
  background-color: #444;
  color: white;
}
